# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/ectl/ectl
cmd/kafka/kafka
cmd/nats/nats
/ectl
/kafka-consumer
/kafka-app
/nats
/goka


# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor
.vscode